<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"><strong>Point of View</strong></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <form class="navbar-form navbar-left">
        <button type="button" class="btn btn-default" href:"/all">Home Paolita</button>
      </form>

      <form class="navbar-form navbar-left">
        <button type="button" class="btn btn-default" href:"/">Saved Articles</button>
      </form>

      <form class="navbar-form navbar-left">
        <button type="button" class="btn btn-default" href:"/scrape">Scrape New Articles</button>
      </form>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<h2>Save a news and put your point of view</h2>

<ul>
  {{#each articles}}
    {{!-- {{#unless devoured}} --}}
      <li>
        {{#unless storage}}
        {{!-- {{#if storage}} --}}
            {{title}}
            {{title}}
            <a>Holita</a>

            <button type="button" class="btn btn-default classSave" data-id="{{_id}}" storageStatus="{{storage}}">Save it</button>
            <button type="button" class="btn btn-default">Delete it</button>
        {{!-- {{/if}} --}}
           
            

        {{/unless}}
      </li>
    {{!-- {{/unless}} --}}
  {{/each}}
</ul>

